#Driving_viewer {
background-image: url("GEN_Portfolio/01_Driving/01.jpg");
}
#Hey_viewer {
background-image: url("GEN_Portfolio/02_Hey/01.jpg");
}
#Fonderie_viewer {
background-image: url("GEN_Portfolio/03_Fonderie/01.jpg");
}
#Station_viewer {
background-image: url("GEN_Portfolio/04_Station/01.jpg");
}
#Quai36_viewer {
background-image: url("GEN_Portfolio/05_Quai36/01.jpg");
}
#Bobital_viewer {
background-image: url("GEN_Portfolio/06_Bobital/01.jpg");
}
#Macro_viewer {
background-image: url("GEN_Portfolio/07_Macro/01.jpg");
}
#Rencontres_viewer {
background-image: url("GEN_Portfolio/08_Rencontres/01.jpg");
}
